.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  background-color: transparent;
}

.edit-profile-icon {
  width: 34px;
  height: 34px;
  color: darkgray;
  border-color: darkgrey;
  padding: 0;
  margin: 0;
}

.edit-profile-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
