@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');

:root {
  /* colors */
  --body-bg: #fafafa;
  --page-bg: #f5f5f5;
  --dark-text: #2a2935;

  /* spacing */
  /* this is what defines the global scale */
  --baseline: 12px;

  /* fonts */
  --book-title: 'Tulpen One', sans-serif;
  --title: 'Cormorant Garamond', serif;
  --body: 'Cormorant Garamond', serif;
  --base-size: var(--baseline) * 1.2;
}

.cover {
  width: calc(var(--baseline) * 60);
  height: calc(var(--baseline) * 42.6);
  margin: 100px auto;
  caret-color: transparent;
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.3);
}

.book:hover {
  cursor: pointer;
}
.book__page {
  position: relative;
  width: 50%;
  height: 100%;
  display: grid;

  transform: rotateY(0deg);
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 0% 0%;
  background-color: var(--page-bg);
  background-image: linear-gradient(90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);
}
.book__page:nth-of-type(1) {
  background-image: linear-gradient(-90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);
}

.book__page--1,
.book__page--4 {
  overflow: hidden;
}

.book__page--1 img,
.book__page--4 img {
  padding: 20px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 510px;
}

.book__page--2 {
  cursor: pointer;
  position: absolute;
  right: 0;
  pointer-events: none;
  transform-style: preserve-3d;
  background-color: var(--page-bg);
  background-image: linear-gradient(90deg, rgba(227, 227, 227, 1) 0%, rgba(247, 247, 247, 0) 18%);
}

.book__page-front {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg) translateZ(1px);
}

.book__page-back {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 calc(var(--baseline) * 1.8);
  transform: rotateY(180deg) translateZ(1px);
}

.page__content {
  padding: var(--baseline);
  height: 100%;
  position: relative;
  text-align: center;
}

.page__content .horizontal-line {
  margin-top: 25px;
  width: 90%;
}
.page__content-number-front {
  float: right;
  margin-right: 20px;
}

.page__content-number-back {
  float: left;
  margin-left: 20px;
}

.page__content-book-title {
  font-family: var(--book-title);
  font-size: calc(var(--base-size) * 3);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-text);
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: calc(var(--baseline) * 1);
}

.page__content-author {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1.2);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-text);
  border-top: 1px solid var(--dark-text);
  border-bottom: 1px solid var(--dark-text);
  display: inline-block;
  padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
  margin-bottom: calc(var(--baseline) * 2);
}

.page__content-credits {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  margin-bottom: calc(var(--baseline) * 2);
  letter-spacing: 1px;
  font-weight: bold;
}

.page__content-credits span {
  display: block;
  font-size: calc(var(--base-size) * 1.3);
  letter-spacing: 0;
  color: black;
  font-weight: bold;
}

.page__content-copyright {
  position: absolute;
  width: calc(100% - (var(--baseline) * 2));
  bottom: calc(var(--baseline) * 2);
  margin-bottom: 10px;
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.8);
  text-transform: uppercase;
}
.page__content-copyright p:nth-child(2) {
  font-weight: bold;
  font-size: calc(var(--base-size) * 0.9);
}

.page__content-title {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 3);
}

.page__content-table {
  width: 100%;
  margin-top: calc(var(--baseline) * 2);
}
.page__content-table td {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  padding-bottom: calc(var(--baseline) * 1.5);
  text-transform: uppercase;
}

.page__content-blockquote {
  margin-bottom: calc(var(--baseline) * 2);
}

.page__content-blockquote-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  font-style: italic;
  text-align: justify;
}

.page__content-blockquote-reference {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.7);
  margin-top: calc(var(--baseline) * 0.3);
  float: right;
  text-transform: uppercase;
}

.page__content-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  text-align: justify;
  text-indent: var(--baseline);
}

.page__number {
  position: absolute;
  bottom: var(--baseline);
  width: calc(100% - (var(--baseline) * 2));
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  text-align: center;
}

.book input[type='radio'] {
  display: none;
}

.book input[type='radio']:checked + .book__page {
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(-180deg);
}
