.drop-file-input {
	position: relative;

	/* width: 400px; */
	height: 200px;
	border: 2px dashed var(--border-color);
	border-radius: 20px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff2f2;
	border: 2px solid #fecfe0;
	max-width: 100%;
	/* height: 100%; */
	max-height: 700px;
}

.drop-file-input input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	color: blueviolet;
}

.drop-file-input:hover,
.drop-file-input.dragover {
	opacity: 0.6;
}

.drop-file-input__label {
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--txt-second-color);
	font-weight: 600;
	padding: 10px;
	color: rgb(3, 3, 65);
}

.drop-file-input__label img {
	width: 30px;
}

.drop-file-preview {
	margin-top: 30px;
}

.drop-file-preview p {
	font-weight: 500;
	text-align: center;
}

.drop-file-preview__title {
	margin: 0 10px 20px 10px;
	border-top: 2px solid #fecfe0;
	border-bottom: 2px solid #fecfe0;
	border-radius: 10px;
	background-color: #f9e7e7;
}

.drop-file-preview__item {
	position: relative;
	display: flex;
	margin-bottom: 10px;
	background-color: var(--input-bg);
	padding: 15px;
	border-radius: 20px;
}

.drop-file-preview__item img {
	width: 50px;
	height: 60px;
}

.drop-file-preview__item__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.drop-file-preview__item__del {
	background-color: var(--box-bg);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	/* align-items: center; */
	justify-content: flex-end;
	/* position: absolute; */
	/* right: 10px;
		top: 50%; */
	transform: translateY(-50%);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.3s ease;
}

/* .drop-file-preview__item:hover .drop-file-preview__item__del {
		opacity: 1;
	} */

.Title {
	justify-content: center;
	align-items: center;
	align-self: center;
	text-align: center;

	color: rgb(29, 3, 15);
}

.upload {
	width: 75%;
	margin: 20px auto 20px auto;
	border: 2px solid #fecfe0;
	border-radius: 12px;
	border-color: 5px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 992px) {
	.upload {
		width: 100%;
	}
}