.notifications .mantine-Divider-root {
  max-width: 450px;
}

.notifications .notification-container {
  border: 1px solid green;
  padding-top: 10px;
}

.notifications .delete-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
