.error-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page h2 {
  color: rgb(209, 73, 64);
  margin-bottom: 30px;
  font-size: 2rem;
}

.error-number__container {
  display: flex;
  justify-content: center;
}

.error-number__container .number {
  font-size: 5rem;
  font-weight: 700;
  margin: 0 20px;
}

.error-page .dash {
  height: 3px;
  width: 100px;
  background-color: rgb(209, 73, 64);
}

.dash-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-page__container .not-found {
  font-size: 1.3rem;
  font-weight: 500;
}

.error-page__container .quote p {
  margin: 0;
}

.error-page__container .quote {
  margin: 30px 0;
  color: gray;
  font-size: 1.2rem;
}

.button {
  display: block;
  padding: 10px 20px;
  border-color: transparent;
  background-color: rgb(209, 73, 64);
  color: #fff;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  margin: 0 auto;
}

.button:hover {
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.image-book {
  margin: 0 auto;
  width: 400px;
  height: 200px;
  margin-top: 20px;
}
