.mantine-Accordion-control {
  padding: 10px;
}

.Accordion-item-heading {
  display: inline-block;
  padding-left: 15px;
  height: 100%;
  transform: translateY(-25%);
}

.mantine-Accordion-item {
  border-bottom: none;
}
